// Box models
// -----------------------------------------------------------------------------

//  Nou model de caixa

.box {
  margin-bottom: 30px;
  background-color: #ededed;

  @media (min-width: 768px) {
    height: 395px;
  }

  @media (min-width: 992px) {
    height: 260px;
  }

  @media (min-width: 1200px) {
    height: 320px;
  }

  .first {
    position: relative;

    figure {

      a {
        display: block;
        
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .video-trigger {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      width: 100%;
      height: 100%;

      a {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 2;
          margin: -23px 0 0 -23px;
        }
      }
    }
  }

  .last {
    padding: 20px 10px 10px;
    position: relative;
    height: auto;
    display: block;
    
    @media (min-width: 768px) {
      height: 199px;
    }

    @media (min-width: 992px) {
      height: 135px;
      padding: 10px 10px 15px;
    }

    @media (min-width: 1200px) {
      height: 170px
    }

    .title {
  
      h2 {
        font-family: 'Fira Sans SemiBold';
        font-weight: 500;
        line-height: 1em;
        color: inherit;
        margin: 0 0 30px;
        font-size: 1.5em;
        height: auto;
        overflow: hidden;
        display: block;
        
        @media (min-width: 768px) {
          margin: 0;
          font-size: 2em;
          height: 5.05em;
        }
  
        @media (min-width: 992px) {
          font-size: 1.25em;
          height: 4.4em;
          line-height: 1.1em;
        }
        
        @media (min-width: 1200px) {
          font-size: 1.42em;
          height: 5.4em;
          line-height: 1.1em;
        }
        
        a {
          color: #2f3031;
        }
      }
    }

    .type {
      position: absolute;
      left: 0;
      bottom: 10px;
      z-index: 1;
      font-family: 'Fira Sans Bold';
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 0 10px;

      a {
        color: #BE1622;

        &:hover,
        &:focus,
        &:active {
          color: #BE1622;
        }
      }
    }
  }
}

//  Nou model de caixa (sense imatge)

.small-box {
  margin-bottom: 30px;
  background-color: #ededed;

  .last {
    padding: 20px 10px 10px;
    position: relative;
    height: auto;
    display: block;
    
    @media (min-width: 768px) {
      height: 210px;
    }

    @media (min-width: 992px) {
      padding: 10px 10px 15px;
      height: 135px;
    }

    @media (min-width: 1200px) {
      height: 160px;
    }

    .title {
  
      h2 {
        font-family: 'Fira Sans SemiBold';
        font-weight: 500;
        line-height: 1em;
        color: inherit;
        margin: 0 0 30px;
        font-size: 1.5em;
        height: auto;
        overflow: hidden;
        display: block;
        
        @media (min-width: 768px) {
          margin: 0;
          font-size: 2em;
          height: 5em;
        }
  
        @media (min-width: 992px) {
          font-size: 1.25em;
          height: 5.4em;
          line-height: 1.1em;
        }
        
        @media (min-width: 1200px) {
          font-size: 1.42em;
          height: 5.2em;
          line-height: 1.1em;
        }
        
        a {
          color: #2f3031;
        }
      }
    }

    .type {
      position: absolute;
      left: 0;
      bottom: 10px;
      z-index: 1;
      font-family: 'Fira Sans Bold';
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 0 10px;

      a {
        color: #BE1622;

        &:hover,
        &:focus,
        &:active {
          color: #BE1622;
        }
      }
    }
  }
}