// Principal cerca
// -----------------------------------------------------------------------------
@media (min-width: 992px) and (max-width: 1200px) {
  .page-search{
    .bloc-recursos:nth-child(even){
      padding-right: 0;
    }
    .bloc-recursos:nth-child(odd){
      padding-left: 0;
    }
    .bloc-banner .block__content{
      margin: 0;
    }
  }
}

@media (max-width: 768px){
  .page-search{
    #edit-submit{
      margin-top: 10px;
    }
  }
}

// Search block (a11y)

#search-form {

  .form-wrapper {
    position: relative;

    .form-text {
      border: none;
    }

    .form-submit {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      background-color: $xn17-vermell;
      color: #fff;
      border: none;
      height: 100%;
      border-radius: 0 4px 4px 0;
      width: auto;
    }
  }

}
