.responsive-table {
    overflow-x: auto;
}
// #secondary-menu .leaf #search-icon{
//     display: none;
// }
#secondary-menu .btn-search {
    background: transparent;
    border: none;
    padding: 0;
}
@media (min-width: 769px) and (max-width: 991px){
    .header-search{
        display: none;
        transition: visibility 0s, opacity 0.5s linear;
    }
    #search-form #edit-basic{
        width: 100%;
    }
    #search-form {
        width: 100%;
    }
    #search-form #edit-keys {
        width: 100%;
    }
   #search-form .form-item.form-type-textfield.form-item-keys.form-group {
        width: 100%;
    }
    .front{
        .pane-xn17-monografics-portada .skin-default {
            margin-right: 0;
        }
        .pane-xn17-monografics-portada .imatge {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

}
@media (max-width: 768px){
    .header-search{
        display: none;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .page-node{
        .field-content img{
            width: 100% !important;
            height: auto !important;
        }
    }
    .page-noticies{
        .block-menu.menu.menu-noticies .block__content{
            display: none;
        }
    }
    .page-recursos{
        .block-menu.menu.menu-recursos .block__content{
            display: none;
        }
    }

}

// Fixes a les finestres modals "Lightbox"

#lightbox {

    #outerImageContainer {

        iframe {
            border: none !important;
        }
    }

    #bottomNavClose {
        padding: 0;
        position: relative;
        top: -3px;
    }
}

@media (max-width: 768px) {

    #lightbox2-overlay {
        width: 100% !important;
    }

    #lightbox {
        width: 90% !important;
        left: 5% !important;

        #outerImageContainer {
            width: 100% !important;

            iframe {
                border: none !important;
                width: 100% !important;
            }
        }

        #imageDataContainer {
            width: 100% !important;
        }
    }
}

// Avis legal

.page-node-203 {

    .field-name-body {

        .red-text {
            color: $xn17-vermell;
        }
    }
}

// Declaracio d'Accessibilitat

.a11y-disclaimer {

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    ol {
        list-style: lower-alpha;
    }

    a {
        // color: #a7a7a7;
        color: $xn17-vermell;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            color: #2f3031;
        }
    }
}

// Ocultem les opcions de subscripció a la pàg. d'alta del butlletí d'actualitat

.form-item-submitted-correu-newsletter-content-selection {
  display: none !important;
}
