// Principal monografics
// -----------------------------------------------------------------------------
@media (min-width: 992px) and (max-width: 1200px) {
  .page-monografics {
    .block--fes-voluntariat,.bloc--financament{
      margin-right: 10px;
      width: 48.9%;
    }
    .block--cursos, .block-image{
      margin-left: 10px !important;
      width: 48.9%;
    }
    .bloc-recursos.economics{
      clear: both;
    }
    .bloc-recursos .block__content {
      min-height: 150px;
    }
    .bloc-recursos:nth-child(even){
      padding-right: 0;
    }
    .bloc-recursos:nth-child(odd){
      padding-left: 0;
    }
    .bloc-banner .block__content{
      margin: 0;
    }
  }
  .page-node {
    .bloc-header-image img {
      width: 100%;
    }
    .view-id-xn17-especial-un-contingut-destacat .cont_titular_entradeta {
      padding-right: 31.18503%;
    }
    .view-id-xn17-especial-un-contingut-destacat .altres-continguts {
      padding-top: 10px;
    }
    .view-id-xn17-especial-un-contingut-destacat {
      height: 490px;
    }
    .view-id-xn17-especial-un-contingut-destacat .destacat-principal {
      height: 490px;
    }
    .view-xn17-etiquetes .modul_2x1 .titular{
      padding-bottom: 57.235%;
    }
    .view-xn17-etiquetes .modul_2x1 {
      padding-bottom: 137.882%;
    }
  }

}

@media (min-width: 769px) and (max-width: 991px){
  .page-monografics{
    .view-seccions-especials .text h3{
      line-height: 0.4em;
    }
  }
  .page-node {
    .bloc-header-image img {
      width: 100%;
    }
  }
}
@media (max-width: 768px){
  .page-monografics {
    .views-row{
      border-top: none;
    }
    .pdng_mdl {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
    .views-row .text h3 {
      font-size: 3em;
    }
    .views-row-last.views-row{
      border: none;
    }
  }
  .page-node{
    .view-id-xn17-especial-un-contingut-destacat {
        height: auto;
    }
    .view-id-xn17-especial-un-contingut-destacat .cont_titular_entradeta {
      height: auto;
      padding-right: 0;
      padding-left: 0;
    }
    .view-id-xn17-especial-un-contingut-destacat .altres-continguts {
      margin-bottom: 60px;
      padding-top: 10px;
      height: auto;
      background-color: #ededed;
    }
    
  }
  .seccio-especial .view-footer h1{
      color: #2f3031;
      margin-top: 0;
      word-break: break-all;
      font-size: 3em;
    }
  
}

