// Principal Noticies
// -----------------------------------------------------------------------------
@media (min-width: 992px) and (max-width: 1200px) {
  .page-noticies {
    
    .bloc-recursos:nth-child(even){
      padding-right: 0;
    }
    .bloc-recursos:nth-child(odd){
      padding-left: 0;
    }
    .bloc-banner .block__content{
      margin: 0;
    }
    .pane-bundle-xn17-noticies-destacades-secundaries-2x2 .row{
      padding: 0;
    }
    .node-noticia-general {
      margin-bottom: 15px;
    }
    .view.view-xn17-noticies.view-id-xn17_noticies.view-display-id-block_2.view-id-bloc-mes-xn17-noticies {
      margin-left: -15px;
      margin-right: -15px;  
    }
  }
}
@media (min-width: 769px) and (max-width: 991px){
  .page-noticies {
    .pane-bundle-xn17-noticies-destacades-secundaries-2x2 .row{
      padding: 0;
    }
    .node-noticia-general {
      margin-bottom: 15px;
    }
    .view.view-xn17-noticies.view-id-xn17_noticies.view-display-id-block_2.view-id-bloc-mes-xn17-noticies {
      margin-left: -15px;
      margin-right: -15px;  
    }
    .modul_2x1 .titular h4 {
      font-size: 1.8em;
    }
  }
  .page-node {
    .field.field-name-field-usuari-autor.field-type-text.field-label-hidden {
      margin-top: 40px;
    }
  }
}

@media (max-width: 768px){
  .page-noticies {
    .modul_2x1 .titular, .panels-flexible-subportal_noticies .panels-flexible-region-subportal_noticies-destacada_principal .node-noticia-general .field-name-title{
      padding-bottom: 0;
      height: auto;
      padding-bottom: 5px;
    }
    .modul_2x1, .panels-flexible-subportal_noticies .panels-flexible-region-subportal_noticies-destacada_principal .node-noticia-general {
      padding-bottom: 10px;
      height: auto;
    }
    .pane-bundle-xn17-noticies-destacades-secundaries-2x2 .row{
      padding: 0;
    }
    .node-noticia-general {
      margin-bottom: 15px;
    }
    .view.view-xn17-noticies.view-id-xn17_noticies.view-display-id-block_2.view-id-bloc-mes-xn17-noticies {
      margin-left: -15px;
      margin-right: -15px;  
    }
    .panels-flexible-subportal_noticies .panels-flexible-region-subportal_noticies-center .group-titular-entradeta {
        position: relative;
        z-index: 10;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        padding-bottom: 0;
    }
    .panels-flexible-subportal_noticies .panels-flexible-region-subportal_noticies-center .group-titular-entradeta .field-name-title h4 {
        margin-top: 0;
    }
  }
  .page-node {
    .modul_2x1 .titular{
      padding-bottom: 0;
      height: auto;
      padding-bottom: 5px;
    }
    .modul_2x1 {
      padding-bottom: 10px;
      height: auto;
    }
    .field.field-name-field-usuari-autor.field-type-text.field-label-hidden {
      margin-top: 40px;
    }
    .field-name-body iframe{
      width: 100%    !important;
    }
  }

}

// Correccions a Mobile

@media (max-width: $screen-md) {

  .page-node .views-slideshow-cycle-main-frame, .page-etiquetes .views-slideshow-cycle-main-frame {
    min-height: 0px;
  }

  // Notícies 

  .node-type-noticia-general {

    .xn17-standard-column1 {
      
      .field-name-field-usuari-autor {
        display: none;
      }
    }
    
    .xn17-standard-column2 {

      .field-name-entitat-redactora-copia- {
        margin-top: -40px;
      }

      .field-name-simple-share-icons-copia- {
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }
  }

  // Recursos

  .node-type-recurs-general {

    .bloc-header-image {
      display: none;
    }

    .xn17-standard-column1 {
      
      .field-name-field-usuari-autor {
        display: none;
      }

      .field-name-field-autor {
        display: none;
      }
    }

    .xn17-standard-column2 {

      .field-name-slide-imatges-secundaries {

        .views-slideshow-cycle-main-frame {
          margin-top: 0;
        }
      }
      
      .field-name-entitat-redactora-copia- {
        margin-top: -40px;
        margin-bottom: 20px;
      }
    }
  }

  .page-recursos .view-xn17-recursos .view-header h1 {
    color: #fff !important;
    margin-top: -90px !important;
    padding-bottom: 15px;
  }
}

// Correccions a les imatges secundaries (imatge fixe i carrusel)

.node-type-noticia-general,
.node-type-recurs-general {

  .xn17-standard-column2 {
  
    .field-name-slide-imatges-secundaries {
  
      .views-slideshow-cycle-main-frame {
        
        @media (max-width: 768px) {
          min-height: 30em !important;
        }

        @media (max-width: 660px) {
          min-height: 26em !important;
        }

        @media (max-width: 560px) {
          min-height: 24em !important;
        }

        @media (max-width: 460px) {
          min-height: 20em !important;
        }

        @media (max-width: 360px) {
          min-height: 16em !important;
        }
      }
    }
  }
}
