.page-opinio, .page-node {
  .destacat_2x2 .titular-entradeta {
    max-height: 282px;
    overflow: hidden;
  }
  .view-id-xn17-opinio-destacada .titular-entradeta h4 {
    margin-top: 0px;
  }
  .view-id-xn17-opinio-secundaries .cont_titular_entradeta img, .view-id-xn17_autor .cont_titular_entradeta img {
      float: right;
      clear: both;
      border-radius: 50%;
      margin: 0px -20px 0 0px;
      width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .page-opinio, .page-node {
    .destacat_2x2 .titular-entradeta {
      max-height: 220px;
    }
  }
  .view-id-xn17-opinio-destacada .titular-entradeta h4,
  .view-id-xn17-opinio-secundaries .cont_titular_entradeta h4, 
  .view-id-xn17_autor .cont_titular_entradeta h4 {
    padding-top: 10px;
  }
}



@media (min-width: 769px) and (max-width: 991px){
  .page-opinio {
    .destacat_2x2 .titular-entradeta {
      max-height: none;
    }
    .view-id-xn17-opinio-destacada .titular-entradeta p{
      font-size: 0.4em;
    }
    .view-id-xn17-opinio-destacada .views-field{
      margin-bottom: 30px;
    }
    .view-id-xn17-opinio-destacada .pie {
        top: 0;
        bottom: 0;
        font-size: 0.35em;
        line-height: 1em;
    }
    .view-id-xn17-opinio-destacada .titular-entradeta h4{
      font-size: 0.7em;
    }
    .bloc-recursos:nth-child(even){
      padding-right: 0;
    }
    .bloc-recursos:nth-child(odd){
      padding-left: 0;
    }
    .bloc-banner .block__content{
      margin: 0;
    }
  }
  .page-node{
    .cont_titular_entradeta img{
      margin: 3px -20px 0 0px;
    }
    
  }
}

@media (max-width: 768px){
  .page-opinio, .page-node, .node-type-autor-a {
    .modul_2x1 .titular{
      padding-bottom: 0;
      height: auto;
      padding-bottom: 5px;
    }
    .modul_2x1{
      padding-bottom: 10px;
      height: auto;
    }
    .destacat_2x2 {
      color: #FFFFFF;
      margin-bottom: 25px;
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }
    .view-id-xn17-opinio-destacada .views-field, .node-autor-a .fitxa-autor .views-field{
      margin-bottom: 30px;
    }
    .view-id-xn17-opinio-destacada .imatge-destacada-opinio, .node-autor-a .fitxa-autor .imatge-destacada-opinio{
      width: 100%;
      float: none;
      padding-right: 0;
      margin-bottom: 0;
    }
    .view-id-xn17-opinio-destacada .titular-entradeta,  .node-autor-a .fitxa-autor .titular-entradeta{
        width: 100%;
        float: none;
        padding-left: 0;
    }
    .view-id-xn17-opinio-destacada .pie,  .node-autor-a .fitxa-autor .pie{
        float: none;
        position: relative;
        top: 0;
        padding:5px 0 5px 10px;
        padding-top: 5px;
        width: 100%;
        height: 30px;
        padding-top: 8px;
        
    }
    .view-id-xn17-opinio-destacada .titular-entradeta {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .view-id-xn17-opinio-destacada .titular-entradeta h4 {
      padding-top: 0;
    }
    .view-id-xn17-opinio-secundaries .views-row, .view-id-xn17_autor .views-row {
        margin-top:-0;
      }
    .rightimage {
      text-align: center;
      padding-top: 30px;
    }
    .view-id-xn17-opinio-secundaries .cont_titular_entradeta img, .view-id-xn17_autor .cont_titular_entradeta img {
        float: none;
        clear: both;
        border-radius: 50%;
        margin: 0 auto 0 auto;
        width: 50%;
        text-align: center;

    }
    .view-id-xn17-opinio-secundaries .cont_titular_entradeta, .view-id-xn17_autor .cont_titular_entradeta{
        padding-right: 5%;
        padding-left: 5%;
    }
  }
    .node-type-autor-a .node-autor-a .fitxa-autor {
      width: 100%;
      padding-bottom: 0;
      background-color: #ededed;
      margin-bottom: 15px;
      height: auto;
  }
  .node-type-autor-a .node-autor-a .fitxa-autor .presentacio {
      float: none;
      padding-right: 5%;
      padding-left: 5%;
      padding-bottom: 5%;
  }

}
@media (max-width: 480px){
   .page-opinio {
    .destacat_2x2 {
        font-size: 1em;
    }
  }
  .node-type-autor-a .node-autor-a .fitxa-autor .presentacio {
    float: none;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    position: relative;
}
.node-type-autor-a .node-autor-a .fitxa-autor .presentacio p {
    margin-top: 10px;
    color: #2f3031;
}
.node-type-autor-a .node-autor-a .fitxa-autor .presentacio .twitter a {
    color: #2f3031;
}
}