// Principal publica
// -----------------------------------------------------------------------------
@media (min-width: 992px) and (max-width: 1200px) {
  .page-publica-a-xarxanet{
    .bloc-recursos:nth-child(even){
      padding-right: 0;
    }
    .bloc-recursos:nth-child(odd){
      padding-left: 0;
    }
    .bloc-banner .block__content{
      margin: 0;
    }
  }
}
@media (min-width: 769px) and (max-width: 991px){
  .page-publica-a-xarxanet{
    .panel-3col-33-stacked .panel-col-first,.panel-3col-33-stacked .panel-col,.panel-3col-33-stacked .panel-col-last{
      float: none;
      width: 100%;
      margin-bottom: 30px;
    }
     #acte-formacio h2,  #colabora h2{
      min-height: auto;
    }
  }
}
@media (max-width: 768px){
  .page-publica-a-xarxanet{
    .panel-3col-33-stacked .panel-col-first,.panel-3col-33-stacked .panel-col,.panel-3col-33-stacked .panel-col-last{
      float: none;
      width: 100%;
      margin-bottom: 30px;
    }
     #acte-formacio h2,  #colabora h2{
      min-height: auto;
    }
  }
}

/**
 * Modificacions motivades pel mòdul Yoast SEO.
 * S'amaga el vertical tab del 'Path Àlies' per tal que no el modifiquin.
 * També s'amaga el field 'Slug' proporcionat pel Yoast SEO.
 */

.page-node-add, 
.page-node-edit {

  .node-form {

    // Bloc Yoast SEO

    #yoast-wrapper {

      #url_container {
        display: none !important;
      }
      #snippet-editor-slug {
        display: none !important;
      }
    }

    // Vertical Tab (hauria de ser la referida al Path àlies, si no hi han canvis)

    .vertical-tabs-list {

      .first {
        // display: none !important;
        // Ho ocultarem millor per Javascript, on puc fer la selecció dinàmica
        // Més info a: Drupal.xn17.verticalTabOverrides();
      }
    }

    // Vertical Pane (hauria de ser la referida al Path àlies, si no hi han canvis)

    .vertical-tabs-panes {

      .vertical-tabs-pane {

        &.path-form {
          display: none !important;
        }
      }
    }
  }
}