// Principal videos
// -----------------------------------------------------------------------------
@media (min-width: 992px) and (max-width: 1200px) {
  .page-video{
    .bloc-recursos:nth-child(even){
      padding-right: 0;
    }
    .bloc-recursos:nth-child(odd){
      padding-left: 0;
    }
    .bloc-banner .block__content{
      margin: 0;
    }
  }
}

@media (max-width: 768px){
  .page-video{
    .modul_2x1 .titular{
      padding-bottom: 0;
      height: auto;
      padding-bottom: 5px;
    }
    .modul_2x1 {
      padding-bottom: 10px;
      height: auto;
    }
  }
}