// Styles for blocks.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Menu
// -----------------------------------------------------------------------------

.page-xn17-portada #main .pane-menu, 
.page-inici #main .pane-menu {
  padding: 15px 30px !important;
  margin: 0 0 -0.5em 0;
}

#block-block-103 {
  margin-bottom: 42px;
}

.pane-xn17-financament ul li a {
  font-size: 13.3px !important;
} 

.panels-flexible-region-76-menu,
.panels-flexible-region-76-center {
  width: 100%;
}

.page-xn17-portada #main .pane-menu.sticky, 
.page-inici #main .pane-menu.sticky {
  padding: 0 !important;

  .pane-content {
    padding-bottom: 15px;
    line-height: 1em;
  }
}

// Menu dels portals

@media (max-width: $screen-md) {

  // Home page
  .pane-menu-menu-xn17-menu-noticies.menu-noticies,
  .pane-menu-menu-xn17-menu-recursos.menu-recursos {

    .pane-title {

      button {
        display: none !important;
      }
    }

    .pane-content {
      display: none !important;
    }
  }

  // Home page - Sticky Menus
  #fixed-menu-noticies,
  #fixed-menu-recursos {
    display: none !important;
  }

  // Pàgines interiors

  .menu.menu-noticies, 
  .menu.menu-recursos {

    .block__title {

      button {
        display: none !important;
      }
    }

    .block__content {
      display: none !important;
    }
  }
}

// Menu fet amb block

.block.menu {
  position: relative;
  @include block_menu;
  padding: 15px 15px 0px 15px;

  .block__title {
    position: relative;
  }

  .block-menu-toggler {
    outline: none;
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 1;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 0;
    padding: 0;
    display: block;
    
    &.open {

      &:before {
        content: url('../images/icon/icon-show-big.svg');
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    &.closed {

      &:before {
        content: url('../images/icon/icon-hide-big.svg');
        width: 20px;
        height: 20px;
        display: block;
      }
    }
  }

  &.sticky {
    padding: 10px 0px;

    .block__title {
      padding: 0 30px;
    }

    .block__content {
      padding: 0 30px 15px;
      line-height: 1em;
    }

    .block-menu-toggler {
      top: 0;
      right: 30px; // Old: 56px;
    }
  }
}

// Menu fet amb Pane

.pane-block.menu {
  position: relative;
  @include block_menu;
  padding: 15px 30px;
  margin: 0;
  margin-bottom: -0.5em !important;

  .pane-title {
    position: relative;
  }

  .pane-menu-toggler {
    outline: none;
    position: absolute;
    top: 10px;
    right: 0px; // Old: 15px;
    z-index: 1;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 0;
    padding: 0;
    display: block;
    
    &.open {

      &:before {
        content: url('../images/icon/icon-show-big.svg');
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    &.closed {

      &:before {
        content: url('../images/icon/icon-hide-big.svg');
        width: 20px;
        height: 20px;
        display: block;
      }
    }
  }

  &.sticky {
    padding: 0 !important;

    .pane-title {
      position: relative;
      margin: 15px auto !important;
      
      // @media (min-width: 992px) {
        //   box-sizing: border-box;
        //   display: block;
        //   width: 100% !important;
        //   padding: 0 30px 0 15px !important;
        // }
      }

      .pane-menu-toggler {
        top: 0px;
        right: 30px; // Old: 56px;

        @media (max-width: 992px) {
          // right: 130px;
        }
      }
    }
  }

  // -----------------------------------------------------------------------------
  // Filtre
  // -----------------------------------------------------------------------------
  .block.filtre {
    position: relative;
    .content {
      .help-block { display: none; }
      background: rgba(237, 237, 237, .6);
      position: absolute;
      top: 45px;
      z-index: 2;
      transform: none;
      .advanced {
        transform: none !important;
      }
      @include vertical-align-middle;
      input, select { @include input-field; }
      @media (max-width: $screen-md-max) {
        width: 334px;
        position: relative;
        left: calc(50% - 167px);
        input, select { width: 150px;}
        #edit-field-date-event-value-wrapper { padding-right: 0px; }
      }
      @media (min-width: $screen-md-max) {
        width: 590px;
        position: relative;
        left: calc(50% - 295px);
        input, select { width: 180px; }
        #edit-city-wrapper { padding-right: 0px; }
      }
      input[type="submit"] {
        padding: 0px; margin: 0px;
        font-family: Fira Sans SemiBold;
        background-color: $gray-medium;
      }
      form {
        clear: both;
        padding: 10px;
        input { padding-right: 40px; }
        #edit-combine-wrapper input { background: white url('../images/icon/icon-search-gray.svg') no-repeat right 15px center ; }
      }
    }
    &.filtre-agenda {
      @include header_image('agenda');
      .content {
        .form-type-date-popup, .date-popup-init, .form-control, .views-submit-button { margin: 0px; }
        .views-submit-button {
          float: right;
          padding-right: 0px;
          @media (min-width: $screen-md-max) { padding-top: 15px; }
        }
        #edit-field-event-type-value-wrapper { display: none; }
        #type-selectors, #type-arrows {
          float: left;
          width: 100%;
          .type-selector, .type-arrow {
            width: 33.3333%;
            float: left;
            text-align: center;
          }
          .type-selector {
            font-family: Fira Sans SemiBold;
            background-color: white;
            padding: 12px 0;
            a { color: $gray-medium;}
            &.active {
              background-color: $xn17-vermell;
              a { color: white; }
            }
          }
        }
        #type-arrows { height: 0px; }
        .type-arrow {
          img { display: none; }
          &.active img { display: inline; }
          margin-top: -6px;
        }
        form {
          #edit-field-date-event-value-wrapper input { background: white url('../images/icon/icon-calendar-gray.svg') no-repeat right 15px center ;}
          #edit-city-wrapper input {background: white url('../images/icon/icon-map-gray.svg') no-repeat right 15px center ; }
          .form-item-field-date-event-value-value-time { display: none; }
        }
        #publish-link {
          color: $xn17-vermell;
          padding-left: 15px;
          padding-bottom: 15px;
          display: block;
          @media (min-width: $screen-md-max) { margin-top: -31px; }
        }
      }
    }
    &.filtre-financament {
      @include header_image('financament');
      .content {
        @media (max-width: $screen-md-max) {
          #edit-field-finfull-ambit-value-wrapper, .views-submit-button { padding-right: 0px; }
          #edit-combine-wrapper {
            label { display: none; }
            padding-top: 10px;
          }
        }
        @media (min-width: $screen-md-max) {
          #edit-combine-wrapper { padding-right: 0px; padding-top: 12px;}
        }
        .views-submit-button {
          float: right;
          padding-right: 0px;
          input { background-color: $xn17-vermell; }
        }
      }
    }
    &.filtre-biblioteca {
      @include header_image('biblioteca');
      z-index: initial;
      .content {
        background: rgba(198, 198, 198, 0.8);
        &.advanced { transform: translateY(-21.5%); }
      }
      #sortby-selectors, #sortby-arrows {
        float: left;
        width: 100%;
        .sortby-selector, .sortby-arrow {
          width: 50%;
          float: left;
          text-align: center;
        }
        .sortby-selector {
          font-family: Fira Sans SemiBold;
          background-color: white;
          padding: 12px 0;
          a { color: $gray-medium;}
          &.active {
            background-color: $xn17-vermell;
            a { color: white; }
          }
        }
      }
      #sortby-arrows { height: 0px; }
      .sortby-arrow {
        img { display: none; }
        &.active img { display: inline; }
        margin-top: -6px;
      }
      form {
        position: relative;
        z-index: 3;
        .views-exposed-widget {
          width: 50%;
          input, select { width: 100%; }
        }
        #cerca-avancada {
          float: left;
          width: 100%;
          padding-top: 15px;
          padding-bottom: 5px;
          text-align: center;
          color: $gray-dark;
          cursor: pointer;
          &::after {
            position: absolute;
            left: 50%;
            padding-top: 15px;
          }
          &.showicon::after { content: url('../images/icon/icon-show-small.svg'); }
          &.hideicon::after { content: url('../images/icon/icon-hide-small.svg'); }
        }
        #edit-combine-wrapper {
          padding-right: 0px;
          width: 100%;
        }
        #edit-field-doc-tipologia-tid-wrapper, #edit-field-doc-tematica-tid-wrapper,
        #edit-field-doc-data-publi-value-wrapper, #edit-field-doc-editorial-tid-wrapper,
        .views-submit-button, .views-widget-sort-by {
          display: none;
        }
        #edit-field-doc-tipologia-tid-wrapper, #edit-field-doc-tematica-tid-wrapper {
          padding-top: 30px;
        }
        #edit-field-doc-tipologia-tid-wrapper, #edit-field-doc-editorial-tid-wrapper {
          padding-right: 0px;
        }
        .views-submit-button {
          float: right;
          padding-right: 0px;
          input { background-color: $xn17-vermell; }
        }
      }
      &::after {
        z-index: 0;
      }
    }
  }

  // -----------------------------------------------------------------------------
  // Bloc header image
  // -----------------------------------------------------------------------------
  .bloc-header-image {
    @include header_image('recurs_economics');
    .page-recursos & { @include header_image('recurs_assessorat');}
    .page-recursos-projectes & { @include header_image('recurs_projectes');}
    .page-recursos-juridics & { @include header_image('recurs_juridics');}
    .page-recursos-informatics & { @include header_image('recurs_informatics');}
    .page-recursos-formatius & { @include header_image('recurs_formacio');}
    .page-recursos-economics & { @include header_image('recurs_economics');}
    .page-video & { @include header_image('videos');}
    height: 180px !important;
  }

  // -----------------------------------------------------------------------------
  // Bloc header especials
  // -----------------------------------------------------------------------------
  .bloc-header-especials {
    .page-especials & { @include header_image('monografics');}
    .page-node-81691 & { @include header_image('mon_cabecera_pnav');}
    .page-node-78394 & { @include header_image('monografics');}
    .page-node-86632 & { @include header_image('mono_cabecera_transparencia');}
    .page-node-86631 & { @include header_image('mono_cabecera_impost');}
    .page-node-78410 & { @include header_image('mono_cabecera_educacio');}
    .page-node-78409 & { @include header_image('mono_cabecera_comerciojusto');}
    .page-node-78397 & { @include header_image('mon_cabecera_pnav');}
    .page-node-78396 & { @include header_image('mono_cabecera_avaluacio');}
    .page-node-78395 & { @include header_image('mono_cabecera_participacio');}
    .page-node-78393 & { @include header_image('mono_cabecera_captacio-fons');}
    height: 180px !important;
  }

  // -----------------------------------------------------------------------------
  // Blocs recursos
  // -----------------------------------------------------------------------------
  .bloc-recursos {
    &.projectes { @include bloc-banner('recurs_projectes'); }
    &.juridics { @include bloc-banner('recurs_juridics'); }
    &.informatics { @include bloc-banner('recurs_informatics'); }
    &.economics { @include bloc-banner('recurs_economics'); }
    &.formacio { @include bloc-banner('recurs_formacio'); }
    &.generals { @include bloc-banner('recurs_assessorat'); }
    .sub-seccions,.entradeta-recurs{
      display:none;
    }
    margin: 0px !important;
  }

  .bloc-recursos-portada {
    &.projectes { @include bloc-banner-portada('recurs_home_projectes'); }
    &.juridics { @include bloc-banner-portada('recurs_home_juridics'); }
    &.informatics { @include bloc-banner-portada('recurs_home_informatics'); }
    &.economics { @include bloc-banner-portada('recurs_home_economics'); }
    &.formacio { @include bloc-banner-portada('recurs_home_formacio'); }
    &.generals { @include bloc-banner-portada('recurs_home_assessorat'); }

    h4{
      width:40%;
    }
    @media (max-width: $screen-sm-max){
      h4{
        width: 100%;
      }
    }
    .sub-seccions{
      position: absolute;
      right: 0px;
      width: 40%;
      top: 40px;
    }
    .subtitol-recurs, .rteright{
      display: none;
    }
    .entradeta-recurs{
      width: 60%;
    }
    @media (max-width: $screen-sm-max){
      .sub-seccions,.entradeta-recurs{
        display:none;
      }
      .subtitol-recurs, .rteright{
        display: inherit;
      }
    }
  }


  // -----------------------------------------------------------------------------
  // Blocs banner
  // -----------------------------------------------------------------------------
  .bloc-banner {
    &.voluntariat { @include bloc-banner('banner_voluntariat', 150px); }
    &.festevoluntaria { @include bloc-banner('banner_feste', 150px); }
    &.assessorament { @include bloc-banner('banner_assessorament', 150px); }
    &.tajudem { @include bloc-banner('banner_tajudem', 150px); }
    .block__content { margin: 7.5px 15px; }  
    h4 {
      padding: 15px;
      background-color: rgba(0,0,0,0.7);
    }
  }

  // -----------------------------------------------------------------------------
  // Blocs laterals
  // -----------------------------------------------------------------------------
  .bloc--lateral {
    margin: 10px 0;
    padding: 0px;
    h4 {
      border-top: solid 8px $gray;
      border-bottom: solid 3px $gray;
      padding: 10px 15px;
      margin: 0 0 10px 0;
      color: $xn17-vermell;
      font-size: 24px;
      font-family: Fira Sans SemiBold;
    } 
    p { padding: 0 15px; }
    a {
      font-weight: 600;
      color: $gray-medium;
    }
    background-color: $gray-light;
    border-bottom: solid 8px $gray;
  }

  // -----------------------------------------------------------------------------
  // Blocs finançaments lateral
  // -----------------------------------------------------------------------------
  .bloc--lateral.bloc--financament {
    ul { list-style-type: none; }
    li { 
      margin: 0px; 
      padding: 0px;
      div { margin: 5px 15px;
      }
      .views-field-field-date {
        border-bottom: solid 1px $gray; 
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: $xn17-vermell;
      }
      .views-field-title a {
        font-weight: normal;
        color: $text-color;
      }
    }
    .more-link {
      margin: 15px 15px 10px;
      a {
        color: $text-color;
        font-weight: 600;     
      }
    }
  }



  // -----------------------------------------------------------------------------
  // Blocs main footer
  // -----------------------------------------------------------------------------
  #main-footer {
    padding-top: 50px;
    .main-footer-title {
      text-align: center;
      margin-bottom: 15px;
      background: $gray-light url("../images/elements/slim_line.svg") repeat-x center;
      h2, h4 {
        font-size: 18px;
        font-weight: 600;
        color: $gray-medium;
        display: inline-block;
        width: auto;
        background-color: $gray-light;
        padding: 0 15px;
        margin-top: 10px;
      }
    }
    .segueixnos {
      margin-bottom: 50px;
      .social {
        display: inline-block;
        width: auto;
        padding-top: 5px;
        margin-right: 25px;
        margin-bottom: 10px;
        &.facebook {
          background: url('../images/icon/icon-fb.svg') no-repeat left;
          padding-left: 18px;
        }
        &.twitter {
          background: url('../images/icon/icon-tw.svg') no-repeat left;
          padding-left: 27px;
        }
        &.instagram {
          background: url('../images/icon/icon-ig.svg') no-repeat left;
          padding-left: 30px;
        }
        &.youtube {
          background: url('../images/icon/icon-yt.svg') no-repeat left;
          padding-left: 30px;
        }
        &.rss {
          background: url('../images/icon/icon-rss.svg') no-repeat left;
          padding-left: 28px;
        }
        &.telegram {
          display: none !important;
          background: url('../images/icon/icon-tl.svg') no-repeat left;
          padding-left: 30px;
        }
      }
    }
    .promotors {
      margin-top: 50px;
      clear: both;
      float:left;
      .logo { height: 160px; }
      .logo-title {
        margin: 5px 15px 0 15px;
        border-top: solid 1px $gray-dark;
        padding: 10px 0;
        span {
          font-size: 12px;
        }
      }
    }
    .unprojectede {
      margin-top: 50px;
      clear: both;
      float:left;
      width: 100%;
      .main-footer-title {
        text-align: left;
        h2, h4 {
          font-size: 18px;
          margin-top: 10px;
        }
      }
      .logo-title {
        margin: 0 15px;
        border-top: solid 1px $gray-dark;
        padding: 10px 0;
        span {
          font-size: 12px;
        }
      }
    }
  }

  //------------------------------------------------------------------------------
  // Bloc capçalera FAQS
  //------------------------------------------------------------------------------

  .faq-banner {
    width: 100%;
    height: 267px;
    display: block;
    overflow: hidden;
    position: relative;

    .block__content p {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .block__content img {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      margin-left: -629px;
      width: auto;
      min-height: 267px;
    }
  }

  //------------------------------------------------------------------------------
  // Bloc footer per opinio
  //------------------------------------------------------------------------------
  #content-footer{
    .front & { display: none; }
    background-color: #fff;
    padding-bottom: 50px;
    .block__title{
      display: none;
    }
    .block--últimes-opinions, .block--articles-relacionats{
      display: inline-block;
    }
    .view-xn17-opinio{
      .view-header{
        border-top: solid 3px #BE1622;
        margin-left: 15px;
        margin-right: 15px;
      }
      .views-row h4{
        padding-top:35px;
      }
    }
    .view-xn17-relacionats{
      .view-header{
        border-top: solid 3px #BE1622;
        margin-left: 15px;
        margin-right: 15px;
      }
      .opinio-relacionada{
        h4{
          padding-top: 30px;
        }
        p{
          font-size: 1em !important;
        }
        .rightimage:before {
          content: '' ;
          display:block;
          float: right;
          position: relative;
          @include padding-top(220 220);
          @media screen and (max-width:$screen-xs){
            height:70px;
          }
          @media screen and (min-width:$screen-sm-min){
            height:100px;
          }
          @media screen and (min-width:$screen-md-min){
            height:40px;
          }
          @media screen and (min-width:$screen-lg){
            height:60px;
          }
        }
      }
    }
  }


  // -----------------------------------------------------------------------------
  // Bloc +xarxanet
  // -----------------------------------------------------------------------------
  .block--xarxanet{
    h2{
      border-top: solid 8px #C6C6C6;
      padding-bottom: 15px;
      @media (max-width: $screen-sm-max){
        border-bottom: solid 3px #C6C6C6;
        padding-bottom: 5px;
      }
      padding-top: 10px;
      padding-left:15px;
      margin-top:0px;
      margin-bottom: 0px;
      background-color: #ededed;
      margin-left:0px;
      font-family: Fira Sans SemiBold;
      color: $xn17-vermell;
      font-size:24px;
    }
    .content{
      height:80px;
      padding-left:15px;
      background-color: #ededed;
      border-bottom: solid 8px #C6C6C6;
      padding-top:5px;
      margin-bottom:30px;
      vertical-align: text-bottom;
      @media (max-width: $screen-md-max){
        font-size:0.9em;
        a{
          font-size:1em;
        }
        div{
          padding-right: 0px;
        }
      }
    }
    .btn{
      background-color:white;
      font-family: 'Fira Sans SemiBold';
      color:$gray-medium;
      margin-top:20px;
      border-radius: 0px;
    }
    .publica{
      padding-left:30px;
      font-size:0.8em;
      text-transform: uppercase;
      background: $xn17-vermell url('../images/elements/publica_blanc.svg') no-repeat 7px 7px;
      font-family: 'Fira Sans SemiBold';
      color:#FFF !important;
      margin-top:20px;
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }

  .block--voluntariat{
    h2{
      border-top: solid 8px #C6C6C6;
      @media (max-width: $screen-sm-max){
        border-bottom: solid 3px #C6C6C6;
        padding-bottom: 5px;
      }
      padding-bottom: 15px;
      padding-top: 10px;
      padding-left:15px;
      margin-top:0px;
      margin-bottom: 0px;
      background-color: #ededed;
      margin-left:0px;
      font-family: Fira Sans SemiBold;
      color: $xn17-vermell;
      font-size:24px;
    }
    .content{
      min-height:80px;
      padding-left:15px;
      background-color: #ededed;
      border-bottom: solid 8px #C6C6C6;
      padding-top:5px;
      margin-bottom:30px;
      vertical-align: text-bottom;
      @media (max-width: $screen-sm-max){
        font-size:0.9em;
        a{
          font-size:1em;
        }
      }
      div{
        margin-bottom:5px;
      }
    }
    .btn{
      background-color:white;
      font-family: 'Fira Sans SemiBold';
      color:$gray-medium;
      margin-top:20px;
      border-radius: 0px;
    }
  }

  .block--cursos{
    h2{
      border-top: solid 8px #C6C6C6;
      @media (max-width: $screen-sm-max){
        border-bottom: solid 3px #C6C6C6;
        padding-bottom: 5px;
      }
      padding-bottom: 15px;
      padding-top: 10px;
      padding-left:15px;
      margin-top:0px;
      margin-bottom: 0px;
      background-color: #ededed;
      margin-left:0px;
      font-family: Fira Sans SemiBold;
      color: $xn17-vermell;
      font-size:24px;
    }
    .content{
      min-height:80px;
      padding-left:15px;
      background-color: #ededed;
      border-bottom: solid 8px #C6C6C6;
      padding-top:5px;
      margin-bottom:30px;
      vertical-align: text-bottom;
      @media (max-width: $screen-sm-max){
        font-size:0.9em;
        a{
          font-size:1em;
        }
      }
      div{
        margin-bottom:5px;
      }
    }
    .btn{
      background-color:white;
      font-family: 'Fira Sans SemiBold';
      color:$gray-medium;
      margin-top:20px;
      border-radius: 0px;
    }
    .publica{
      padding-left:30px;
      font-size:0.8em;
      text-transform: uppercase;
      background: $xn17-vermell url('../images/elements/publica_blanc.svg') no-repeat 7px 7px;
      font-family: 'Fira Sans SemiBold';
      color:#FFF !important;
      margin-top:20px;
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }

  //------------------------------------------------------------------------------
  // Bloc vídeo
  //------------------------------------------------------------------------------
  .pane-xn17-videos {
    padding-right: 30px;
    h2{
      border-top: solid 8px #C6C6C6;
      padding-bottom: 15px;
      padding-top: 10px;
      padding-left:20px;
      margin-top:0px;
      margin-bottom: 0px;
      background-color: #ededed;
      margin-left:0px;
      font-family: Fira Sans SemiBold;
      color: $xn17-vermell;
      font-size:24px;
    }
    .view-xn17-videos.view-display-id-block {
      .modul_video { position: relative; }
      .content-info {
        display: none;
        position: absolute;
        top: 0;
        background-color: $xn17-vermell;
        color: white;
        font-weight: 600;
        padding: 15px;
        width: 50%;
        a {
          color: white;
          font-weight: 600;
        }
        .tipo-noticia a { text-transform: uppercase; }
      }
      .slick-arrow {
        &.slick-prev::before { content: url('../images/icon/icon-arrow-left.svg');}
        &.slick-next::before { content: url('../images/icon/icon-arrow-right.svg');}
        &.slick-prev { padding-left: 15px; }
        &.slick-next { padding-right: 65px; }
      }
      .slick-active .content-info { display: block; }
      .slick-track { padding-top: 0px; }
    }
  }

  //------------------------------------------------------------------------------
  // Bloc amb imatge
  //------------------------------------------------------------------------------
  .block-image {
    padding: 0 !important;
    margin: 10px 0 !important;
  }

  //------------------------------------------------------------------------------
  // Selecció d'especials
  //------------------------------------------------------------------------------
  #form_monografics {
    margin-bottom: 30px; 
  }

// ==============================================================================
// Sticky Menu
// ==============================================================================

.fixed-menu {
  width: 100%;
  display: inline-block;
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 20;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  
  > .container {
    position: relative;
  }

  button {
    outline: none;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 0;
    padding: 0;
    display: block;
    
    &.open {

      &:before {
        content: url('../images/icon/icon-show-big.svg');
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    &.closed {

      &:before {
        content: url('../images/icon/icon-hide-big.svg');
        width: 20px;
        height: 20px;
        display: block;
      }
    }
  }

  .inner {
    padding: 15px 30px;
    position: relative;
    width: 100%;
    float: left;

    .pane-title,
    .block__title {
      color: #BE1622;
      font-size: 18px;
      font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
      margin: 0;

      button {
        display: none;
      }
    }

    .pane-content,
    .block__content {
      width: 100%;
      display: block;
      float: left;
      margin: 0px 0 -5px;
      padding-top: 5px;

      ul {
        width: 100%;
        display: inline-block;

        li {
          display: inline-block;
          float: left;

          a {
            padding: 2px 4px 2px 0;
            float: left;
            background-color: transparent;
            font-family: "Fira Sans", Helvetica, Arial, sans-serif;

            &:hover,
            &:focus {
              color: #BE1622;
              background-color: transparent;
            }

            &:active {
              color: lighten(#BE1622, 5%);
              background-color: transparent;
            }
          }

          &:after {
            content: ' / ';
            color: $gray-medium;
            font-weight: normal;
            float: left;
            font-size: 10px;
            position: relative;
            top: 4px;
            padding-right: 4px;
          }

          &:last-child {

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

// ==============================================================================
// Bloc "Informa't"
// ==============================================================================

.bloc-informat {
  background-image: url(/sites/all/themes/xn17/assets/images/blocks/banner_informat.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
  min-height: 150px;
  display: flex;
  align-items: flex-end;

  .block__content {
    width: 100%;
  }

  a {
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: underline;
    }
  }
  
  .first {
    font-family: 'Fira Sans Bold';
    font-size: 20px;
    line-height: 1.25em;
    display: block;
    padding: 0 15px;
  }
  
  .last {
    font-family: 'Fira Sans semiBold';
    margin: 0;
    padding: 10px 15px;
    
    a {
      display: block;
      text-align: right;
    }
    
    &.button {
      padding: 0;
      background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.5) 0%, rgba(190,22,34,0.8) 65%, rgba(190,22,34,1) 100%);
      background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.5) 0%,rgba(190,22,34,0.8) 65%,rgba(190,22,34,1) 100%);
      background: linear-gradient(45deg,  rgba(0,0,0,0.5) 0%,rgba(190,22,34,0.8) 65%,rgba(190,22,34,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#be1622',GradientType=1 );

      a {
        display: block;
        margin-top: 25px;
        padding: 10px 15px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

// ==============================================================================
// Banner 'Covid-19' (Home page)
// ==============================================================================

#covid19-home-banner {
  padding: 0 30px;

  a {
    display: flex;
    margin: 0 0 20px;
    position: relative;
    background-image: url(/sites/all/themes/xn17/assets/images/covid-19/covid19-home-banner.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 30px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 15px 30px;
    }

    @media (min-width: 992px) {
      padding: 0 30px;
    }

    .leading-icon {
      display: none;

      @media (min-width: 992px) {
        display: inline;
      }
    }

    .claim-text {
      font-size: 22px;
      font-family: "Fira Sans Bold", Helvetica, Arial, sans-serif;
      
      @media (min-width: 992px) {
        font-size: 22px;
      }
      
      @media (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }
}

// ==============================================================================
// Especial 'Covid-19'
// ==============================================================================

#covid19-special {

  @media (max-width: 767px) {
    .view-id-xn17_especial_cap_alera {
      
      .bloc-header-image {
        background-image: url(/sites/default/files/styles/xn17_header/public/covid19_top_banner.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        position: relative;
        min-height: 200px;

        img {
          display: none;
        }
      }
      .view-footer h1 {
        font-family: 'Fira Sans SemiBold';
        font-size: 2.5em;
        opacity: 0.5;
        color: white;
        margin-top: -45px;
        position: relative;
        z-index: 1;
        text-transform: lowercase;
        margin-bottom: 30px;
      }
    }
  }

  .bloc-header-image {
  
    img {
      display: block;
    }
  }

  .pane-node-body {
    margin-top: -25px;
    padding: 0 15px;

    .fitxa-autor .mes-articles a {
      // color: #a7a7a7;
      color: $xn17-vermell;
      text-decoration: underline;
    }
  }

  #covid19-grid-banner {
    background-image: url(/sites/all/themes/xn17/assets/images/covid-19/covid19-grid-banner.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 150%;
    position: relative;
    min-height: 360px;
    
    @media (min-width: 480px) {
      background-size: cover;
    }

    @media (min-width: 992px) {
      min-height: initial;
    }

    .first {
      display: block;
      color: #ffffff;
      font-family: "Fira Sans Bold", Helvetica, Arial, sans-serif;
      position: absolute;
      top: 25%;
      left: 20px;
      z-index: 2;
      text-shadow: 0px 1px 3px #000000;
      padding-right: 30px;
      font-size: 30px;
      
      @media (min-width: 480px) {
        font-size: 36px;
        max-width: 60%;
      }
      
      @media (min-width: 768px) {
        font-size: 32px;
        padding-right: 15px;
        max-width: initial;
      }

      @media (min-width: 992px) {
        font-size: 22px;
      }

      @media (min-width: 1200px) {
        top: 55%;
        line-height: 1.1em;
      }
    }
    
    .last {
      display: block;
      color: #fff;
      font-family: "Fira Sans Bold", Helvetica, Arial, sans-serif;
      position: absolute;
      bottom: 5%;
      right: 0;
      z-index: 2;
      font-size: 20px;
      width: 100%;
      text-align: right;
      text-transform: uppercase;
      padding: 0 15px;
      
      @media (min-width: 768px) {
        text-align: center;
      }
    }
  }
}
