// Styles for Nodes
// -----------------------------------------------------------------------------
.page-header {
  background-color: white;
  padding: 40px 30px 20px 30px;
  margin: 0px -15px;
  .title {
    font-weight: 600;
    color: $xn17-vermell;
  }
}
.tabs {
  background-color: white;
  margin: 0 -15px;
  padding: 15px 0px;
  ul { margin: 0; }
}
.page-node {
  #content { padding-bottom: 50px; }
  .webform-client-form { padding: 30px; }
}
.field-name-simple-share-icons {
  margin: 30px 0;
  a { margin-right: 5px; }
}
.field-type-taxonomy-term-reference .field-items a {
  text-transform: lowercase;
}

@media (max-width: $screen-md-min) {
  #main { margin-top: 0px; }
  .region-content-header { margin-bottom: 40px; }
}

.tipus_contingut {
  @include header_title;
  font-size: 2.1em;
}

//------------------------------------------------------------------------------
//Pàgina
//------------------------------------------------------------------------------
.node-page {
  .field-name-body { padding: 30px; }
}

//------------------------------------------------------------------------------
//Esdeveniment, Finançament, Bilioteca
//------------------------------------------------------------------------------
.agenda, .financament, .node-type-doc-biblioteca {
  @include node-comparteix;
  @include node-tags;
  .page-header{
    display: none;
  }
  h1, .xn17-standard-header {
    font-size: 2.5em;
    font-family: 'Fira Sans SemiBold';
  }
  h1 { margin-bottom: 20px; }
  .xn17-standard-header {
    .date-display-single, .date-display-range { &::after { content: " >  "; }}
    .date-display-range { 
      .date-display-start::before { content: "De "; }
      .date-display-start, .date-display-end { text-transform: lowercase; }
    }
    .field-name-ciutat {
      color: $xn17-vermell;
      padding-left: 10px;
    }
    .field-name-ciutat, .field-name-field-date-event {
      padding-top: 20px;
      padding-bottom: 20px;
      float: left;
      width: auto;
    }
  }
  .field-name-field-agenda-imatge img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .field-name-field-resum { font-weight: bold; }
  .field-name-body, .field-name-adreca { margin-bottom: 20px; }
  .field-name-data-esdevendiment, .field-name-hora-esdeveniment,
  .field-name-field-organizer, .field-name-adreca, .field-name-field-convocant,
  .field-name-field-finfull-data-publicacio, .field-name-field-date,
  .field-name-field-date, .field-name-field-finfull-ambit, .field-name-field-finfull-tipus,
  .field-name-field-finfull-ambit-geo, .field-name-field-finfull-bases,
  .field-name-data-esdeveniment, .field-name-taxonomy-vocabulary-5, .field-name-field-doc-lloc-publi,
  .field-name-field-doc-data-publi, .field-name-field-doc-editorial, .field-name-field-doc-idioma,
  .field-name-field-doc-tematica, .field-name-field-doc-tipologia, .field-name-field-org-email,
  .field-name-field-link, .field-name-mapa {
    p { margin: 0; }
    padding: 5px 0;
  }
  .field-name-field-finfull-bases, .field-name-field-finfull-ambit {
    .field-items { padding-left: 40px; }
    .field-item { display: list-item; }
  }
  .field-name-body {
    h1, h2, h3, h4, h5, h6 {
      font-size: $font-size-large;
      font-weight: 600;
    }
  }
  .field-name-field-doc-sinopsi {
    padding-bottom: 20px;
  }
  &.financament {
    .field-name-body {
      border-top: solid 1px $gray;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
  &.financament, &.node-type-doc-biblioteca {
    .field-name-addtoany {
      border-top: solid 1px $gray;
      padding-top: 20px;
    }
  }
  .field-name-print-icon, .field-name-print-pdf {
    &.field-name-print-icon::before { content: url('../images/icon/icon-print.svg'); }
    &.field-name-print-pdf::before { content: url('../images/icon/icon-print-pdf.svg'); }
    font-weight: bold;
    .field-items {
      display: inline-block;
      height: 35px;
      position: absolute;
      padding: 8px 8px;
    }
    p { margin: 0px; }
  }
  .field-name-print-icon { margin-top: 30px; }
  .field-name-portada-document-biblioteca {
    .wrapper {
      width: 100%;
      display: inline-block;
      position: relative;
    }
    .wrapper:after {
      padding-top: 123.92%;
      display: block;
      content: '';
    }
    .main {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $gray-light;
      color: white;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        position: absolute;
        max-width: 80%;
        height: auto;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        box-shadow: 3px 3px 10px $gray-dark;
      }
    }
  }
  .field-name-field-doc-descarrega, .field-name-field-doc-font {
    background: $xn17-vermell url("../images/icon/icon-search-gray.svg") no-repeat left 15px center;
    padding: 10px 0 10px 60px;
    margin: 10px 0;
    .file-icon, .file-size { display: none; }
    a {
      color: white;
      font-weight: 600;
    }
  }
  .field-name-field-doc-descarrega {
    background: $xn17-vermell url("../images/icon/icon-download-white.svg") no-repeat left 15px center;
  }
  .field-name-field-doc-font {
    background: $xn17-vermell url("../images/icon/icon-download-link-white.svg") no-repeat left 15px center;
  }
}
.node-type-event.agenda {
  @media (min-width: $screen-sm-max) {
    .field-name-field-date-event {
      padding-bottom: 0;
      display: inline-block;
      width: auto;
      margin-right: 0.5em;
    }
    .field-name-esdeveniment-en-linia {
      display: inline-block;
      font-weight: bold;
    }
  }
  
  .field-name-title h1 {
    margin-top: 0;
    font-size: 36px;
  }

  .field-name-ciutat {
    color: #BE1622;
    font-size: 18px;
    font-family: "Fira Sans semiBold",Helvetica,Arial,sans-serif;

    @media (max-width: $screen-sm-max) {
      margin-top: 45px;
    }

    p {
      margin: 0
    }
  }

  .field-name-field-date-event {
    color: #2f3031;
    font-size: 14px;
    font-family: "Fira Sans semiBold",Helvetica,Arial,sans-serif;
    margin-bottom: 30px;
  }
}

.node-type-event {
  
  .xn17-standard-column2 {

    .field-name-body {

      h1, h2, h3, h4, h5, h6 {
        font-size: 16px !important;
        display: inline-block;
        margin: 20px 0 10px;
        width: 100%;
        font-family: "Fira Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #2f3031;
      }
    }
  }
}

//------------------------------------------------------------------------------
//Notícia, Recurs i opinio
//------------------------------------------------------------------------------
.node-type-noticia-general, .node-type-recurs-general, .node-type-opinio{
  @include node-comparteix;
  @include node-tags;
  .page-header{
    display: none;
  }
  h1 {
    font-size: 2.5em;
    font-family: 'Fira Sans SemiBold';
    margin-top: 50px;
  }
  .views-slideshow-cycle-main-frame,
  .views_slideshow_cycle_slide,
  .views_slideshow_cycle_slide img,
  .field-name-field-agenda-imatge img {
    width: 100%;
    height: auto;
  }
  &.recurs .views-slideshow-cycle-main-frame { 
    margin-bottom: 0px;
    margin-top: 50px;
  }
  .views_slideshow_cycle_slide,
  .field-name-field-agenda-imatge {
    border-top: solid 2px $xn17-vermell;
  }
  &.recurs .views_slideshow_cycle_slide,
  .field-name-field-agenda-imatge {
    margin-top: 0px;
  }
  .views-field-field-peu-de-foto, .views-field-field-imatges-1 {
    font-size: $font-size-small;
    color: $gray-medium;
  }
  .views-field-field-imatges-1 { margin-top: 5px; }
  .views-field-field-peu-de-foto {
    padding-bottom: 5px;
  }
  .field-name-field-resum {
    padding: 20px 0;
    font-weight: bold;
    font-size: $font-size-large;
    .field-label { display: none; }
  }
  .field-name-body { h1, h2, h3, h4, h5, h6 { font-size: $font-size-base !important; }}
  .field-name-ambit-noticia,
  .field-name-field-ambit-noticia {
    @include flag;
    display: block;
    top: 0;
    a { color: white; }
    z-index: 14;

    &::after {
      z-index: 4;
      display: block;
      height: 100%;
    }
  }
  .field-name-field-autor-noticies .field-label,
  .field-name-field-autor .field-label { font-weight: normal; }
  .field-name-field-usuari-autor .field-item::before { font-weight: normal; content: 'Entitat redactora: '}
  .field-name-simple-share-icons-copia- { margin-top: 10px; }
  .field-name-seccions-recurs-index{
    z-index: 9;
    font-size: $font-size-small;
    background-color: $gray-light;
    padding: 20px;
    .title {
      font-weight: bold;
      margin-bottom: 10px
    }
    .views-row {
      margin-left: 30px;
      margin-bottom: 5px
    }
    @media (min-width: $screen-md-min) {
      float: left;
      left: -80 px;
      position: relative;
      width: 280px;
      left: -130px;
      margin: 20px;
    }
  }
  .field-name-autor-opinio{
    z-index: 10;
    font-size: $font-size-small;
    background-color: $gray-light;
    padding: 20px;
    .title {
      font-weight: bold;
      margin-bottom: 10px
    }
    .views-row {
      margin-bottom: 5px;
      .fitxa-autor{
        .foto-autor{
          width: 100px;
          height: 100px;
          display: inline-block;
          margin-right: 10px;
          img{
            width: 100px;
            height:auto;
            float: left;
            margin-right: 10px;
          }
        }
        .dades-autor{
          width: 120px;
          display: inline-block;
          h2{
            font-family: "Fira Sans SemiBold";
            text-transform: uppercase;
            font-size:1em;
            margin-bottom: 0px;
            a{
              color: $xn17-vermell !important;
            }
          }
          .twitter { 
            font-family: "Fira Sans SemiBold";
            font-size: 0.85em;
            color: $gray-dark;
        }
      }
      
      .mes-articles{
        font-family: "Fira Sans Bold";
        color: $gray-medium;
        p{
          margin-bottom: 0px;
        }
        a{
          // color: $gray-medium;
          color: $xn17-vermell;
        }
      }
      p{
        clear: both;
        padding-top: 10px;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    float: left;
    left: -80 px;
    position: relative;
    width: 280px;
    left: -130px;
    margin: 20px;
  }

}
.field-name-seccions-recurs {
  @media (min-width: $screen-md-min) {
    .views-row-1 {
      left: -120px;
      padding-left: 120px;
      position: relative;
      width: 715px;
      @media (min-width: $screen-lg-min) { width: 650px; }
    }
    .views-row-2 {
      float: none;
      clear: both;
    }
  }
}
.field-name-body{

  @media (min-width: $screen-md-min) {
    .field-item{
      left: -120px;
      padding-left: 120px;
      position: relative;
      width: 715px;
      @media (min-width: $screen-lg-min) { width: 650px; }
    }
  }
}
.views-field-field-subtitols h2 {
  font-size: $font-size-large;
  font-weight: bold;
  margin-top: 30px;
}
.xn17-standard-column1 {
  @media (max-width: $screen-md-min) {
    h1, .field-name-simple-share-icons, .field-name-post-date,
    .field-name-field-autor-noticies, { display: none; }
  }
}
.xn17-standard-column2 {
  @media (min-width: $screen-md-min) {
    h1, .field-name-simple-share-icons-copia-, .field-name-post-date-copia-,
    .field-name-entitat-redactora-copia-, .field-name-autor-copia- { display: none; }
  }
  @media (max-width: $screen-md-min) {
    h1 { margin-top: 30px; margin-bottom: 20px; }
  }
}
.field-name-field-resum {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-top: solid 2px $xn17-vermell;
  border-bottom: solid 2px $xn17-vermell;
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px !important;
    font-size: $font-size-large !important;
  }
  .node-type-opinio & {
    margin-top: 50px;
  }
}
.anchor-sec {
  display: block;
  position: relative;
  top: -170px;
}
}

.node-noticia-general.node-teaser {
  .field-name-ambit-noticia {
    a { text-transform: uppercase; }
    .field-item::before {
      content: 'NOTÍCIES > ';
      padding-left: 10px;
    }
  }
}

//------------------------------------------------------------------------------
//Autor
//------------------------------------------------------------------------------
.node-type-autor-a{
  @include load-more;
  .page-header{
    display:none;
  }
  .node-autor-a{
    margin-top: 40px;
    .view-display-id-block_2{
      .views-row{
        margin-top: 0px;
      }
    }
    .view-display-id-block_3, .view-display-id-block_5{
      .views-row-first{
        .cont_titular_entradeta{
          h4{
            padding-top: 46px;
          }
        }
      }
    }
    .view-header{
      border-top: solid 3px #BE1622;
      margin-left: 15px;
      margin-right: 15px;
      margin-top:20px;
    }
    .fitxa-autor{
      @include aspect-ratio(825 340);
      background-color: $gray-light;
      margin-bottom: 15px;
      .imatge-destacada-opinio{
        width: 33%;
        float: left;
        padding-right: 15px;
        margin-bottom:-30px;
        @media screen and (max-width:$screen-xs-min){
          width: 100% !important;
          padding-right: 0px;
          margin-bottom: 15px;
        }
        img{
          width: 100%;
          height: inherit;
        }
      }
      .presentacio{
        float: left;
        h4{
          font-family: 'Fira Sans SemiBold';
          padding-top: 25px;
          color: $xn17-vermell;
          margin-bottom: 0px;
        }
        @media screen and (max-width:$screen-xs-min){
          float: none;
          position: absolute;
          bottom: 0px;
          width:100%;
          color: #FFF;
          padding-left: 10px;
          padding-bottom: 10px;
          padding-right: 30px;
          h4{
            font-family: 'Fira Sans SemiBold';
            padding-top: 0px;
            color: $xn17-vermell;
            margin-bottom: 0px;
          }
        }
        @media screen and (min-width:$screen-sm-min){
          width: 50%;
          padding-left: 15px;
        }
        @media screen and (min-width:$screen-md-min){
          width: 33%;
          padding-left: 15px;
        }
        @media screen and (min-width:$screen-lg){
          width: 33%;
          padding-left: 15px;
        }
        .twitter{
          a{
            font-family: 'Fira Sans SemiBold';
            font-size: 1.3em;
            @media screen and (max-width:$screen-xs-min){
              color: #FFF;
            }
          }
        }
        p{
          margin-top: 10px;
        }
      }
      .pie{
        width: 100%;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Fira Sans SemiBold';
        margin-top: 30px;
        @media screen and (max-width:$screen-xs-max){
          display:none;
        }
      }
    }
    .field-name-articles-autor-a{
      display: inline-block;
      width: 100%;
    }
  }
}

//------------------------------------------------------------------------------
// Butlletins
//------------------------------------------------------------------------------
.node-type-butlleti-actualitat,
.node-type-butlleti-financament {
  table, tbody, tr.body, tr.body td { border: 0px !important; }
  tr.body td { padding-top: 3px !important; }
}

.node-type-butlleti-financament {

  #content  {
    .region-content {
      > .butlleti:first-child tbody {
        tr:nth-child(3) td {
          width: 50%;
        }
        tr:nth-child(3) td img {
          width: 100%;
          border-left: none;
        }
      }

      > .butlleti:last-child > tbody > tr:first-child {
        > td:nth-child(1) {
          width: 75.5%;
        }
        > td:nth-child(2) {
          width: 24.5%;
        }
      }


    }
  }
  
}


//------------------------------------------------------------------------------
//Entitats
//------------------------------------------------------------------------------
body.page-entitat {
  .views-field-field-logotip, .view-mapa-de-l-entitat {
    margin-top: 20px;
    text-align: center;
  }
  .views-row {
    margin-bottom: 40px;
  }
  .view-dades-de-l-entitat-2 .views-row {
    margin-bottom: 10px;
  }
  .views-field {
    margin-bottom: 10px;
  }
  .views-field.views-field-field-missio-valors {
    margin-bottom: 30px;
  }
  #news-block, #events-block {
    display: inline-block;
    width: 44%;
    background: white url("../images/elements/line.svg") repeat-x center;
    margin-top: 20px;
    text-align: center;
    float: left;
    margin-bottom: 40px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .view-dades-de-l-entitat-iii-, #social-block, 
  .pane-dades-de-l-entitat-2-panel-pane-2 {
    clear: both;
  }
  #news-block a, #events-block a {
    display: inline-block;
    background: white url("../images/elements/mes.svg") no-repeat center top;
    padding-top: 25px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  #social-block a {
    margin-top: 10px;
    margin-right: 10px;
  }

}


//------------------------------------------------------------------------------
// Publica
//------------------------------------------------------------------------------
.page-publica-a-xarxanet #acte-formacio > div, .page-publica-a-xarxanet #colabora > div {
  height: 150px;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto auto;
  background-size: auto 165px;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 10px 15px;
}
.page-publica-a-xarxanet #acte-formacio > div {
  background: url("../images/blocks/banner_assessorament.jpg");
}
.page-publica-a-xarxanet #colabora > div {
 background: url("../images/blocks/banner_feste.jpg");
}
.page-publica-a-xarxanet #acte-formacio h2,
.page-publica-a-xarxanet #colabora h2 {
  min-height: 3.5em;
}
.page-publica-a-xarxanet #acte-formacio p,
.page-publica-a-xarxanet #colabora p {
  color: #FFFFFF;
  padding: 15px;
  background-color: rgba(0,0,0,0.7);
}
.page-publica-a-xarxanet #acte-formacio a,
.page-publica-a-xarxanet #colabora a {
  color: #FFFFFF;
}

//------------------------------------------------------------------------------
// Color links on several content types
//------------------------------------------------------------------------------
.node-type-opinio .xn17-standard-column2 .field:not(.field-name-addtoany):not(.field-name-autor-opinio) a,
.node-type-doc-biblioteca .xn17-standard-column2 .field:not(.field-name-addtoany) a,
.node-type-financament-full .xn17-standard-column2 a,
.node-type-noticia-general .xn17-standard-column2 .field:not(.field-name-addtoany) a,
.node-type-event .xn17-standard-column2 .field:not(.field-name-addtoany) a,
.node-type-recurs-general .xn17-standard-column2 .field:not(.field-name-seccions-recurs-index):not(.field-name-addtoany) a,
.page-faq #panels-ipe-regionid-right a:not([data-toggle="collapse"]),
.page-node-126433 #content a {
  // color: #a7a7a7;
  color: $xn17-vermell;
  text-decoration: underline;
}

.node-type-opinio .xn17-standard-column2 .field:not(.field-name-addtoany):not(.field-name-autor-opinio) a:hover,
.node-type-doc-biblioteca .xn17-standard-column2 .field:not(.field-name-addtoany) a:hover,
.node-type-financament-full .xn17-standard-column2 a:hover,
.node-type-noticia-general .xn17-standard-column2 .field:not(.field-name-addtoany) a:hover,
.node-type-event .xn17-standard-column2 .field:not(.field-name-addtoany) a:hover,
.node-type-recurs-general .xn17-standard-column2 .field:not(.field-name-seccions-recurs-index):not(.field-name-addtoany) a:hover,
.page-faq #panels-ipe-regionid-right a:not([data-toggle="collapse"]):hover,
.page-node-126433 #content a:hover {
  color: #2f3031;
  text-decoration: underline;
}

.node-type-noticia-general .xn17-standard-column1 .field-type-taxonomy-term-reference.field-name-field-ambit-noticia a,
.node-type-noticia-general .xn17-standard-column1 .field-type-taxonomy-term-reference.field-name-field-ambit-noticia a:hover,
.node-type-noticia-general .xn17-standard-column1 .field-type-taxonomy-term-reference.field-name-field-ambit-noticia a:focus,
.node-type-noticia-general .xn17-standard-column1 .field-type-taxonomy-term-reference.field-name-field-ambit-noticia a:active {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

//------------------------------------------------------------------------------
// Webinar register form pages
//------------------------------------------------------------------------------
.node-type-inscripci-a-webinar .field-name-field-data-i-hora,
.node-type-inscripci-a-webinar .field-name-field-ponents {
  padding: 0 30px;
}

.node-type-inscripci-a-webinar .field-name-field-webinar-header-image {
  margin: 0 auto 30px;
  width: 100%;
  max-width: 960px;
  display: table;

  img {
    width: 100%;
    height: auto;
  }
}

.node-type-inscripci-a-webinar .form-actions .btn {
  background-color: #be1723;
  border: none;
  padding: 12px 60px;

  &:hover,
  &:focus,
  &:active {
    background-color: darken(#be1723, 5%);
    border: none;
  }
}


// -----------------------------------------------------------------------------
// Page Webinars (summary page)
// -----------------------------------------------------------------------------

body.page-node-126433 {

  // Misc
  .panels-flexible-region-51-center {
    width: 100%;
  }

  @media (min-width: 768px) {

    .panels-flexible-row.panels-flexible-row-51-1 {
      margin: 90px 0;
    }
  }

  .panels-flexible-region-51-webinars_anteriors {
    float: left;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    .panels-flexible-region-51-fila_central {
      width: 100%
    }
  }

  .panels-flexible-region-51-fila_central-inside {
    padding: 0 15px;
  }

  // Block superior
  
  #cp-embed-youtube {
    padding: 15px;
    display: table;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    p {

      iframe {
        border: 1px solid #eeeeee;
      }
    }
  }

  #cp-en-viu {
    padding: 30px 15px 15px;
    margin-bottom: 30px;
    border-top: 3px solid #BE1622;

    p {
      padding: 0;
      position: relative;
      background-color: #ededed;

      iframe {
        border: 1px solid #eeeeee;
      }
    }
  }

  // Block "Què són els webinars?"

  #cp-about-webinars {
    position: relative;
    padding: 0;
    padding-top: 45px;

    .pane-title {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 4;
      padding: 0;
      color: #000;
      margin: 0;
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 21.868px;
      font-family: 'Fira Sans SemiBold';
    }

    .pane-content {

      table {
        width: 100% !important;
        padding-top: 0px;
        display: block;

        tr {
          border: none;
        }

        tbody {
          border: none !important;

          td {
            border: none !important;
          }
        }
      }

      @media (max-width: $screen-sm) {

        table {
          width: 100% !important;

          tbody {
            border: none !important;
          }

          tr {
            width: 100% !important;

            td {
              width: 100% !important;
              border: none !important;
              float: left;
            }
          }
        }
      }
    }
  }

  // Propers Webinars

  #next-webinars {

    .pane-title {
      padding: 0;
      color: #000;
      margin: 0;
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 21.868px;
      font-family: 'Fira Sans SemiBold';
    }

    ul {
      padding-left: 15px;

      li {
        margin-bottom: 10px;

        strong {
          font-size: 16px;
        }

        small {
          font-size: 13px;
        }
      }
    }
  }

  // @media (max-width: 768px) {

  //   .panels-flexible-region-51-propers_webinars {
  //     width: 100%;
  //   }
  // }

  // .panels-flexible-region-51-propers_webinars-inside {
  //   padding: 0 15px 15px 15px;
  // }

  // .pane-propers-webinars {

  //   .views-row {
  //     margin-bottom: 15px;
  //   }

  //   .pane-title {
  //     padding: 0;
  //     color: #000;
  //     margin: 0;
  //     margin-bottom: 30px;
  //     font-size: 26px;
  //     line-height: 21.868px;
  //     font-family: 'Fira Sans SemiBold';
  //   }
  // }

  // Block "Webinars realitzats"

  #cp-webinars-done {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    .pane-title {
      position: absolute;
      left: 30px;
      top: 15px;
      z-index: 4;
      background-color: #BE1622;
      padding-left: 10px;
      padding-right: 5px;
      padding-top: 5px;
      height: 29px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      font-size: 16px;

      &:after {
        content: url(/sites/all/themes/xn17/assets/images/elements/punta.svg);
        position: absolute;
        right: -10px;
        top: 0px;
      }
    }

    .pane-content {
      padding: 0 15px;

      .view-content {

        @media (min-width: $screen-sm) {

          &:after {
            content: "";
            border-top: 3px solid #BE1622;
            position: absolute;
            top: 12px;
            left: 30px;
            z-index: 1;
            width: 690px;
          }
        }

        @media (min-width: $screen-md) {

          &:after {
            content: "";
            border-top: 3px solid #BE1622;
            position: absolute;
            top: 12px;
            left: 30px;
            z-index: 1;
            width: 910px;
          }
        }

        @media (min-width: $screen-lg) {

          &:after {
            content: "";
            border-top: 3px solid #BE1622;
            position: absolute;
            top: 12px;
            left: 30px;
            z-index: 1;
            width: 1110px;
          }
        }
      }

      .views-row {
        width: 100%;
        float: left;
        padding: 15px;

        &.views-row-1 .views-field-title {
          border-top: 3px solid #BE1622;
        }

        @media (min-width: $screen-sm) {
          width: 50%;

          &.views-row-1 .views-field-title {
            border-top: none;
          }
        }

        @media (min-width: $screen-md) {
          width: 33.3333%;
        }

        @media (min-width: $screen-lg) {
          width: 25%;
          min-height: 615px;
        }

        .views-field-title {
          background-color: #ededed;
          width: 100%;
          display: inline-block;
          padding: 15px;

          .views-label-title {
            display: none;
          }

          a {
            display: inline-block;
            font-size: 1.42em;
            line-height: 21.868px;
            font-family: 'Fira Sans SemiBold';
            color: #000000;
            min-height: 115px;
            margin-top: 25px;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
              text-decoration: underline;
            }
          }
        }

        .views-field-type {
          display: none;
        }

        .views-field-path {
          display: none;
        }

        .views-field-field-agenda-imatge {
          background-color: #ededed;
          width: 100%;
          display: inline-block;
          padding: 0 15px;

          a, img {
            width: 100%;
            height: auto;
            display: inline-block;
          }

        }

        .views-field-field-resum {
          background-color: #ededed;
          width: 100%;
          display: inline-block;
          padding: 15px;
          min-height: 200px;
        }

        .views-field-field-ambit-recurs {
          display: none
        }

        .views-field-field-ambit-noticia {
          background-color: #BE1622;
          width: 100%;
          display: inline-block;
          color: #ffffff;
          padding: 5px 15px;
          min-height: 29px;
        }
      }

      @media (max-width: $screen-sm) {

        .views-row {
          min-height: auto;

          .views-field-title a,
          .views-field-field-resum {
            min-height: auto;
          }

          .views-field-field-agenda-imatge {

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    .pager--infinite-scroll {
      display: block;
      float: none;
      clear: both;
      margin: -30px 15px 45px;
    }

    .pager--infinite-scroll li.pager__item {
      display: block;
      width: 100%;
      margin: 0;
      position: relative;
      top: 30px;
      background-color: #ffffff;
      text-transform: lowercase;
      overflow-x: hidden;
    }

    .pager--infinite-scroll li.pager__item a {
      background: white url(../images/elements/mes.svg) no-repeat center top;
      text-transform: lowercase;
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: #2f3031;
      text-decoration: none;
      padding: 3rem 1rem 1rem;
    }

    .pager--infinite-scroll li.pager__item a:before {
      content: "";
      border-bottom: 5px solid #7b7979;
      display: block;
      position: absolute;
      left: 50%;
      top: 25px;
      width: 50%;
      margin-left: 50px;
    }

    .pager--infinite-scroll li.pager__item a:after {
      content: "";
      border-bottom: 5px solid #7b7979;
      display: block;
      position: absolute;
      right: 50%;
      top: 25px;
      width: 50%;
      margin-right: 50px;
    }

    .ajax-progress {
      display: none;
    }
  }
}

// -----------------------------------------------------------------------------
// Correció del field "Àmbit de la notícia" (node-edit form)
// -----------------------------------------------------------------------------

.page-node-edit.node-type-noticia-general {

  .field-name-field-tipus-noticia {

    select {
      width: auto;
      min-width: 150px;
    }
  }

  .field-name-field-ambit-noticia {
    position: initial;
    z-index: initial;
    background-color: initial;
    padding: initial;
    height: initial;
    color: initial;
    text-transform: initial;
    font-weight: initial;
    display: initial;
    top: initial;

    select {
      width: auto;
      min-width: 150px;
    }
  }
}
